<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card ng-controllerx="DashboardSaveCtrl">
                <md-card-header>
                   
                        <img class="md-user-avatar style5" src="media/img/list/eee.jpg" />
                   
                    

              
                </md-card-header> <br>
                
     <!-- esto son los buscadoress -->
               
                
       <!-- esto son los buscadoress -->     
                         

 
                   


                        <!-- ffff -->
                        
               
            </md-card>
        </div>
    </md-content>
</div>
<style>


.style5 {
    width:1400px;
    height:800px;






</style>
