
<md-content class="md-padding style1" layout-xs="column" layout="row">
<div flex-xs flex-gt-xs="100" layout="column">
<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card ng-controllerx="DashboardSaveCtrl">
                <md-card-header>
                    
                    <md-card-header-text class="style2" >
                        <span class="md-headline este">UPeU</span>
                        <md-card-avatar>
                        <img class="md-user-avatar style2" src="media/img/list/upeu-logo.jpg" />
                    </md-card-avatar>
                       
                    </md-card-header-text>

                </md-card-header> <br>

                <md-divider></md-divider>
                
      <!-- esto son los buscadoress -->
                <md-card-actions layout="row" layout-align="start center" >


                             <!-- input desplegable --> 

                           
                            <md-card-icon-actions>
                                 <md-input-container class="md-block md-search style3">
                                    <input placeholder="FIA" ng-model="query" ng-keyup="buscar()">
                                </md-input-container>
                            </md-card-icon-actions>


                            <md-card-icon-actions>
                                <md-input-container class="md-block md-search style3">
                                    <input placeholder="FCE" ng-model="query" ng-keyup="buscar()">
                                </md-input-container>
                            </md-card-icon-actions>


                            <md-card-icon-actions>
                                <md-input-container class="md-block md-search style3">
                                    <input placeholder="FACIHED" ng-model="query" ng-keyup="buscar()">
                                </md-input-container>
                            </md-card-icon-actions>


                        </md-card-actions>
                
                         <!-- esto son los buscadoress -->       


                         <md-card-actions layout="row" layout-align="start center" >
                            

                            <md-card-icon-actions>
                                <md-input-container class="md-block md-search style3">
                                <input placeholder="FCE SALUD" ng-model="query" ng-keyup="buscar()">
                                </md-input-container>
                            </md-card-icon-actions>


                            <md-card-icon-actions>
                                <md-input-container class="md-block md-search style3">
                                <input placeholder="POSGRADO" ng-model="query" ng-keyup="buscar()">
                                </md-input-container>
                            </md-card-icon-actions>


                        </md-card-actions><br> 
                            



 <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancel</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="autor.id == null">Guardar</span>
                            <span ng-show="autor.id">Update</span>
                        </md-button>
                    </md-card-actions>


            </md-card>
        </div>
    </md-content>
</div>
    <md-card-content>
</div>

                                        <!-- ffff -->

<style>

.este {
    text-align: center;

}
.style1 {
    
background: #CED8F6;
right:0%;

}
.style2 {
   
      width:80px;
  background-color:#8258FA;
  border: ridge;
    
}
.style3 {
    margin-left: 20%;
     background: #E0E6F8;
    
}
</style>