<md-content class="md-padding style1" layout-xs="column" layout="row">
<div flex-xs flex-gt-xs="100" layout="column">
<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card ng-controllerx="DashboardSaveCtrl">
                <md-card-header>
                    
                    <md-card-header-text class="style6" >
                        <span class="md-headline este">BUSCAR PACIENTES</span>
                        <md-card-avatar>
                        <img class="md-user-avatar style6" src="media/img/list/Icons-Land-Medical-People-Doctor-Male.ico" />
                    </md-card-avatar>
                       
                    </md-card-header-text>

                </md-card-header> <br>

                
     
                              <!-- linea 1-->


                <md-card-actions layout="row" layout-align="start center " ><br>

          
                           
<md-input-container class="md-block "flex-gt-sm>
<TR>
<TD>Facultad :</TD>
<TD>
<SELECT name="ocupación">
<OPTION VALUE="UPeU">UPeU</OPTION>
<OPTION VALUE="CAT">CAT</OPTION>
<OPTION VALUE="Personal">Personal</OPTION>
<OPTION VALUE="Visita">Visita</OPTION>
<OPTION VALUE="Mision">Mision</OPTION>
</SELECT>
</TD>
</TR>
</md-input-container>



                        <md-card-icon-actions>
                                <md-input-container class="md-block md-search style7">
                                    <input placeholder="Buscar por codigo" ng-model="codigo" ng-keyup="buscar(codigo)">
                                </md-input-container>
                        </md-card-icon-actions>


                </md-card-actions>

                
                                         <!-- linea 2 -->


                <md-card-actions layout="row" layout-align="start center" >
                            
                           
                        <md-card-icon-actions>
                                <md-input-container class="md-block md-search style3">
                                    <input placeholder="Buscar por DNI" ng-model="DNI" ng-keyup="buscar(DNI)">
                                </md-input-container>
                        </md-card-icon-actions>


                            <md-card-icon-actions>
                                <md-input-container class="md-block md-search style3">
                                    <input placeholder="Buscar por Apellidos" ng-model="Apellidos" ng-keyup="buscar(Apellidos)">
                                </md-input-container>
                            </md-card-icon-actions>

                        </md-card-actions><br>



                                           <!-- botones-->




 <md-divider></md-divider>
                   <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="e">

                    <md-card-icono>
                        <img class="md-user-avatar style9" src="media/img/list/Search-Male-User-icon.png" />
                    </md-card-icono> 

                        <md-button class="md-raised md-primary style4" ui-sref="catalogo.catalogo.inicioBuscar" ng-click="save()"><ng-md-icon icon="search" class="style4" aria-label="title"></ng-md-icon> Buscar</md-button>
                        
                          <md-button class="md-raised md-primary  style5" ui-sref="catalogo.catalogo.inicioNew" ng-click="save()"> <ng-md-icon icon="add" class="style5" aria-label="title"></ng-md-icon> Agregar Paciente</md-button>
                          <md-card-icono>
                        <img class="md-user-avatar style8" src="media/img/list/lero.jpg" />
                    </md-card-icono>
                           </section><br>
                         <table table-responsive>
                        <md-divider></md-divider>
                     
                        <thead md-on-reorder="onReorder style10">
                            <tr>
                                <th>#</th>
                                 <th class="col-hidden style10" data-order="codigo">Codigo</th>
                                 <th class="col-hidden style10" data-order="nombre">Nombre</th>
                                 <th class="col-hidden style10" data-order="nombre">Apellidos</th>
                                 <th class="col-hidden style10" data-order="nombre">Categoria</th>
                                 <th class="col-hidden style10" data-order="nombre">Direcion</th>
                                 <th class="col-hidden style10" data-order="nombre">Telefono</th>


                                
                                <th colspan="2" class="align-options style10">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in lista">
                                <td> {{ $index + 1 }} </td>
                                <td> {{ d.nombre }} </td>
                                <td> {{ d.codigo }} </td>
                                <td> {{ d.estado }} </td>
                                <td>
                                    <md-button class="md-icon-button md-td" aria-label="Edit" ui-sref="catalogo.catalogo.categoriasEdit({id:d.id})">
                                        <md-tooltip md-autohide>Edit {{ d.codename }}</md-tooltip>
                                        <ng-md-icon  size="24" icon="edit" aria-label="Edit"></ng-md-icon>
                                    </md-button>
                                </td>
                                <td>
                                    <md-button class="md-icon-button md-td" aria-label="delete" ng-click="delete(d)">
                                        <md-tooltip md-autohide>Delete {{ d.codename }}</md-tooltip>
                                        <ng-md-icon  size="24" icon="delete" aria-label="delete"></ng-md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


            </md-card>
        </div>
    </md-content>
</div>
    <md-card-content>
</div>

                                        <!-- ffff -->

<style>

.este {
    text-align: center;

}
.style1 {
    
background:#81DAF5;
right:0%;

}
.style2 {
    margin-left: 0%;
     background: #A9F5D0;
    
}
.style3 {
    margin-left: 20%;
     background: #E0E6F8;
    
}

.style4 {
    left: 0%;
}

.style5 {

  
  left: 24%
  
}

.style6 {

    width:80px;
  background-color:#81BEF7;
  border: ridge;
}
.style7 {
    width:200px;
  background-color:#F6CEEC;
  left: 15%
  }
  .style8 {
   width:50px;
  left: 15%;
}
  .style9 {
   width:50px;
  left: 80%
}
.style10 {
   background: #E2A9F3;
}
}
</style>