
<md-content class="md-padding style1" layout-xs="column" layout="row">
<div flex-xs flex-gt-xs="100" layout="column">
<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card ng-controllerx="DashboardSaveCtrl">
                <md-card-header>
                    
                    <md-card-header-text class="style2" >
                        <span class="md-headline este">Trabajador</span>
                        <md-card-avatar>
                        <img class="md-user-avatar style4" src="media/img/list/Logo-Colegio-Enfermería-200x200.png" />
                    </md-card-avatar>
                       
                    </md-card-header-text>

                </md-card-header> <br>

                <md-divider></md-divider>
                
     <!-- esto es el general -->
                <md-card-actions layout="row" layout-align="start center" >
                            
                           
                            <md-card-icon-actions>
                                 <md-input-container class="md-block md-search style3">
                                   <input placeholder="Apellidos" ng-model="Apellidos" ng-keyup="buscar(Apellidos)">
                                </md-input-container>
                            </md-card-icon-actions><br>


                            <md-card-icon-actions>
                                <md-input-container class="md-block md-search style3">
                                    <input placeholder="Nombre" ng-model="Nombre" ng-keyup="buscar(Nombre)">
                                </md-input-container>
                            </md-card-icon-actions>


                             <md-card-icon-actions>
                                <md-input-container class="md-block md-search style3">
                                    <input placeholder="DNI" ng-model="DNI" ng-keyup="buscar(DNI)">
                                </md-input-container>
                            </md-card-icon-actions>



                        </md-card-actions>



                


                                    <md-divider></md-divider>


                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>

                           
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">BUSCAR</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="autor.id == null">NUEVO</span>
                            <span ng-show="autor.id">Update</span>
                        </md-button>

                    </md-card-actions>
                    <md-divider></md-divider>

                    <table table-responsive>
                        <md-divider></md-divider>
                     
                        <thead md-on-reorder="onReorder style7">
                            <tr>
                                <th>#</th>
                                 <th class="col-hidden style7" data-order="codigo">Codigo</th>
                                 <th class="col-hidden style7" data-order="nombre">Nombre</th>
                                 <th class="col-hidden style7" data-order="nombre">Apellidos</th>
                                 <th class="col-hidden style7" data-order="nombre">Categoria</th>
                                 <th class="col-hidden style7" data-order="nombre">Direcion</th>
                                 <th class="col-hidden style7" data-order="nombre">Telefono</th>


                                
                                <th colspan="2" class="align-options style7">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in lista">
                                <td> {{ $index + 1 }} </td>
                                <td> {{ d.nombre }} </td>
                                <td> {{ d.codigo }} </td>
                                <td> {{ d.estado }} </td>
                                <td>
                                    <md-button class="md-icon-button md-td" aria-label="Edit" ui-sref="catalogo.catalogo.categoriasEdit({id:d.id})">
                                        <md-tooltip md-autohide>Edit {{ d.codename }}</md-tooltip>
                                        <ng-md-icon  size="24" icon="edit" aria-label="Edit"></ng-md-icon>
                                    </md-button>
                                </td>
                                <td>
                                    <md-button class="md-icon-button md-td" aria-label="delete" ng-click="delete(d)">
                                        <md-tooltip md-autohide>Delete {{ d.codename }}</md-tooltip>
                                        <ng-md-icon  size="24" icon="delete" aria-label="delete"></ng-md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


            </md-card>
        </div>
    </md-content>
</div>
    <md-card-content>
</div>

                                        <!-- ffff -->

<style>

.este {
    text-align: center;

}
.style1 {
    
background: #81F7D8;
right:0%;

}
.style2 {
    
     background:#CEE3F6;
    
}
.style3 {
    margin-left: 20%;
     background: #E0E6F8;
    
}

.style4 {
    width:60px;
    background-color:#F2F2F2;
}

.style5 {
    width:60px;
  background-color:#F6CEEC;
}

.style6 {

    width:80px;
  background-color:#58FAAC;
  border: ridge;
}
.style7 {
   background: #D0A9F5;
}
</style>